<div class="jumbotron bg-success">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th style="width: 40%; color: oldlace;">OGONGE FOOD</th>
                <th style="width: 30%;color: oldlace;">QUICK LINKS</th>
                <th style="width: 30%;color: oldlace;">CONTACT US</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td rowspan="1">
                    <P style="color: oldlace;">We boast of a vast menu that contains over 60 meal-varieties. But that isn’t enough. We care even more about the quality and nutritional value of every food variety we serve you. </P>
                </td>
                <td> <img src="https://img.icons8.com/color/48/000000/facebook-new.png" /></td>

                <td> <div class="form-group"><input type="text" class="form-control" id="Yemail" placeholder="Enter your email"></div></td>
            </tr>

            <tr>
                <td><p style="color: oldlace;"> <i class="fa fa-mobile" aria-hidden="true"></i> 07064337777</p> </td>
                <td> <a href="#"><img src="https://img.icons8.com/color/48/000000/instagram-new.png" /> </a> </td>
                <td>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" id="comment" placeholder="Messege"></textarea>
                    </div>
            </tr>

            <tr>
                <td>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.7190550498926!2d3.365134214412885!3d6.557106524591777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8d8fb7c71927%3A0xbf2093741763f664!2s298%20Ikorodu%20Rd%2C%20Anthony%20Village%2C%20Lagos!5e0!3m2!1sen!2sng!4v1596468917795!5m2!1sen!2sng" width="100" height="50" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </td>
                <td> <a href="#"><img src="https://img.icons8.com/color/48/000000/twitter.png" /> </a> </td>
                <td><input type="submit" class="btn btn-primary fas fa-paper-plane"> </td>
            </tr>
            <tr>
            </tr>

            <tr>
            </tr>
        </tbody>
    </table>

</div>
