

    <header>
        <div class="jumbotron bg-success">

            <div class="row">
                <div class="col-2"> <a href="Index"> <button class="btn btn-primary ">HOME</button></a></div>
                <div class="col-2">  <a href="Career"> <button class="btn btn-primary">CAREER</button></a></div>
                <div class="col-2 dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">About Us</button>
                    <div class="dropdown-menu bg-primary ">
                        <a class="dropdown-item" href="About"> HISTORY</a>
                        <a class="dropdown-item" href="About">MANAGEMENT</a>
                        <a class="dropdown-item" href="About">BOARD</a>
                        <a class="dropdown-item" href="About">AWARDS</a>
                    </div>
                </div>
                <div class="col-2"> <a href="outdoor.html"> <button class="btn btn-primary">OUTDOOR</button></a></div>
                <div class="col-2"> <a href="Order"> <button class="btn btn-primary">ORDER</button></a></div>
                <div class="col-2"> <a href="Franshise"><button class="btn btn-primary">Franshise</button></a></div>
            </div>

        </div>
    </header>